	<%- layout('layout') %>
	<!-- 主体 -->
	<section class="container box about clearfix">

		<div class="container-left">

			<section class="content-box">

				<h1>关于</h1>

				<div class="content">
					<br>
					<p>建这个网站的想法是在工作一年后的产生的，可是一直没有什么头绪，就这样就一直搁浅了。再一年后，感觉自己进入了瓶颈，就想趁此机会来对自己技术进行一个总结，并完成之前那个未完成的想法。</p><br>
					<p>作为一个web前端开发者，虽然对后台编程有所了解，但仍然遇到了种种的困难：后台语言的选择，数据库的选择和设计，前端页面的设计，服务器的环境配置，服务器，域名的购买等等，一些东西都是从来没有接触过的东西，顿时就感到压力山大...</p><br>
					<p>沮丧过，迷茫过，但是没有放弃，终于经过不懈的努力，网站初步完成了，欣喜若狂...或许这就是编程的魅力所在吧！</p><br>
					<p>人生何尝不是这样呢！</p><br>
					<p>呃，有点跑题了，我对这个网站的定位是一个分享开发经验，共同探索新技术的前端技术博客（貌似只有这一句是主题，希望大家原谅我的吐槽）。</p><br><br>
					<p>微博：<a href="http://weibo.com/p/1005053216041733/home?is_all=1" target="_blank">@小辉.sina</a></p>
					<p>邮件：<a href="mailto:965784720@qq.com">mail@小辉.com</a></p>
				</div>

			</section>

		</div>

		<%- partial('right') %>
		
	</section>
	<!-- /主体 -->