<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/error.css">
	<title>404</title>
</head>
<body>

	<section class="error-box">
		<div class="error-404">
			<img src="img/404.png">
			<div class="error-message">
				<h1>404</h1>
				<h2>“咦，跑哪儿去了......”</h2>
				<!-- <h2>“大虾，东西真的不在我这儿，不信您看...”</h2> -->
				<a href="/">快去首页看看... →_→</a>
			</div>
		</div>
	</section>
	
</body>
</html>